.depositCard {
  width: 164px;
  height: 190px;
  background: #3C4561;
  border: 2px solid #91ACD4;
  box-sizing: border-box;
  box-shadow: 8px 8px 20px rgba(24, 28, 38, 0.5);
  border-radius: 5px;
  margin-left: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #EEEEEE;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 35px 10px;
  line-height: 35px;
  position: relative;
  cursor: pointer;



  :hover{
    transform: none;
  }
  :after {
   content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #83F6B1;
    background-color: #3D455E;
    bottom: -9%;
    left: 50%;
    transform: translate(-50%, -50%);

  }
  :active :after {
    background-image: url("./../../../assets/images/select.svg");
    background-repeat: no-repeat;
    background-position: center;
    color: #3C4561;
    background-color: #83F6B1;
    z-index: 10;
  }
}


.depositCardLowerPart {
  color:  #83F6B1;
  font-size: 22px;
  margin-top: 20px;

}

