.percent {
    width: 68px;
    height: 34px;
    background-color: #83F6B1;
    border-radius: 0px 0px 5px 5px;
    //position: absolute;
    //top: 72px;
    //left: 750px;
    display: flex;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
